


body{
	background-color:rgb(255, 51, 255);
font-size:30px;
	color:rgb(128, 0, 128);
}
text-align:center;
h1{	
}
P{

	font-family:"Pacifico"
	font-size:20px; 

p{font-size:48px;}

P{ font-size:20px; }
p{
color:rgb(2,252,244);
}

p {
    font-family:Times;
}

